<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Recuperar contraseña</title>
  <link rel="stylesheet" th:href="@{/JS/css/login.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <div class="card">
    <h2>Recuperar contraseña</h2>

    <form method="post" th:action="@{/forgot-password}">
      <label>Correo</label>
      <input name="email" type="email" required placeholder="correo@dominio.com"/>
      <button type="submit">Enviar</button>
    </form>

    <div class="msg" th:if="${msg}" th:text="${msg}"></div>
    <div style="margin-top:12px;">
      <a th:href="@{/login}">Volver al login</a>
    </div>
  </div>
</body>
</html>
