<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>

  <link rel="stylesheet" th:href="@{/JS/css/login.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

  <div class="card">

    <div class="logo-box">
      <img th:src="@{/img/logo.png}" alt="Logo">
    </div>

    <h2>Iniciar sesión</h2>

    <form method="post" th:action="@{/login}" autocomplete="on">

      <label>Usuario</label>
      <input name="codigo"
             placeholder="usuario"
             required
             autocomplete="username" />

      <label>Clave</label>
      <input name="clave"
             type="password"
             placeholder="**************"
             required
             autocomplete="current-password" />

      <button type="submit">Ingresar</button>
    </form>

    <div class="msg" th:if="${param.error}">
      Usuario o clave incorrectos
    </div>

    <div class="msg" th:if="${param.logout}">
      Sesión cerrada correctamente
    </div>

    <div class="msg" th:if="${param.resetok}">
      Contraseña actualizada. Ya puedes iniciar sesión.
    </div>

  </div>
</body>
</html>
